:root {
    --root-smallest-font-size: .75em;
    --root-font-size-relative-to-screen: .75;
    font-size: calc(max(var(--root-smallest-font-size), calc(min(1vw, 2vh) * var(--root-font-size-relative-to-screen))));
    font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

:root {
    --h-padding-page: 0 clamp(.5em, 1vw, 1.5em);
    --h-padding: .5em;
    --h-transition: linear .2s;
}

:root {
    --h-color-master: #ff7a18;
    --h-color-slave: #319197;
    --h-color-error: rgb(245, 81, 69);
    --h-color-gradient-0: linear-gradient(130deg, var(--h-color-master), var(--h-color-slave));
    --h-color-gradient-1: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    --h-color-dark: #0e1117;
    --h-color-light: rgb(235, 237, 241);
    --h-color-mode-inverse: var(--h-color-dark);
    --h-color-mode: var(--h-color-light);
    --h-gradient-animation: gradient-animation 10s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: center;
        background-size: 100%;
    }

    100% {
        background-position: center;
        background-size: 150%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --h-color-mode: var(--h-color-dark);
        --h-color-mode-inverse: var(--h-color-light);
    }

    ::-webkit-scrollbar {
        display: block
    }

    ::-webkit-scrollbar-track {
        background: #000;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(30, 37, 41);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(32, 39, 43);
    }
}

html {
    height: unset
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    letter-spacing: .25ch;
    line-height: 1.5;
    background: var(--h-color-mode);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    position: relative;
}

*:focus-visible {
    outline: solid var(--h-color-mode-inverse) .2rem;
    outline-offset: .2em;
    outline-style: dashed;
    outline-color: var(--h-color-slave);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.25rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 2rem;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}