:root {
    --root-smallest-font-size: .75rem;
    --root-font-size-relative-to-screen: .75;
    --root-font-size-mul: 1;
    font-size: calc(max(var(--root-smallest-font-size),
                calc(min(1vw, 2vh) * var(--root-font-size-relative-to-screen))) * 1.25 * var(--root-font-size-mul));
    font-family: Inter, Arial;
}

:root {
    --k-font-xx-smaller: .7em;
    --k-font-x-smaller: .75em;
    --k-font-smaller: .8em;
    --k-font-normal: 1em;
    --k-font-larger: 1.25em;
    --k-font-x-larger: 1.5em;
    --k-font-xx-larger: 2em;
    --k-page-width: min(50em, 100%);
    --k-page-padding: calc(var(--k-padding) * 4) clamp(.5em, 1vw, 1.5em) 0 clamp(.5em, 1vw, 1.5em);
    --k-padding: .25em;
    --k-border-radius: 0.3em;
    --k-border-radius-rounded: 1em;
    --k-border-radius-fab: 10000000vw;
    --k-border-width: .15em;
    --k-blur: .15rem;
    --k-transition: linear .2s;
}

:root {
    --k-color-master: slateblue;
    --k-color-master-contrast: #fff;
    --k-color-slave: coral;
    --k-color-slave-contrast: #fff;
    --k-color-error: orangered;
    --k-color-error-contrast: #fff;
    --k-color-gradient: linear-gradient(to right, var(--k-color-master), var(--k-color-slave));
    --k-color-gradient-contrast: #fff;
}

:root {
    --k-color-dark: #22252b;
    --k-color-dark-contrast: #fff;
    --k-color-dark-pop: #343841;
    --k-color-dark-pop-contrast: var(--k-color-dark-contrast);
    --k-color-light: #dee1e3;
    --k-color-light-contrast: var(--k-color-dark);
    --k-color-light-pop: #c3c4c4;
    --k-color-light-pop-contrast: var(--k-color-light-contrast);
    --k-color-body: #fff;
    --k-color-mode: var(--k-color-light);
    --k-color-mode-contrast: var(--k-color-light-contrast);
    --k-color-mode-pop: var(--k-color-light-pop);
    --k-color-mode-pop-contrast: var(--k-color-mode-contrast);
}

/* @property --k-loading-effect-opacity-animated {
    syntax: "<number>";
    inherits: true;
    initial-value: .25;
}

@keyframes custom-properties-animation {
    from {
        --k-loading-effect-opacity-animated: 0;
    }

    to {
        --k-loading-effect-opacity-animated: 0.5;
    }
}

:root {
    animation: custom-properties-animation infinite 1s ease-in-out alternate;
} */

@media (prefers-color-scheme: dark) {
    :root {
        --k-color-body: #292c34;
        --k-color-mode: var(--k-color-dark);
        --k-color-mode-contrast: var(--k-color-dark-contrast);
        --k-color-mode-pop: var(--k-color-dark-pop);
        --k-color-mode-pop-contrast: var(--k-color-mode-contrast);
    }

    ::-webkit-scrollbar {
        display: block
    }

    ::-webkit-scrollbar-track {
        background: #000;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(30, 37, 41);
    }

    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(35, 43, 48);
    }
}

html {
    height: unset
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    letter-spacing: .05ch;
    line-height: 1.25;
    background: var(--k-color-body);
    color: var(--k-color-mode-contrast)
}

*,
*::after,
*::before {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    min-height: 0;
}

*:focus-visible {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h6 {
    font-size: var(--k-font-larger);
}

h5 {
    font-size: var(--k-font-larger);
}

h4 {
    font-size: var(--k-font-larger);
}

h3 {
    font-size: var(--k-font-x-larger);
}

h2 {
    font-size: var(--k-font-x-larger);
}

h1 {
    font-size: var(--k-font-xx-larger);
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

pre {
    margin: 0;
}

hr {
    margin: unset;
    border: unset;

    height: .01em;
    box-sizing: content-box;

    background-color: var(--k-color-mode-pop);
    background-clip: content-box;
}

.k-text-singleline {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.k-text-multiline {
    display: block;
    word-break: break-all;
    hyphens: auto;
}

.k-text-background-clip {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}