:root {
    font-size: max(1rem, min(1vw, 2vh));
    font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}


:root {
    --g-color-master: #F97794;
    --g-color-slave: #623AA2;
    --g-color-dark: rgba(39, 42, 49);
    --g-color-light: rgb(235, 237, 241);
    
    --g-color-mode: var(--g-color-dark);
    --g-color-mode-inverse: var(--g-color-light);

    --g-color-wild: linear-gradient(120deg,
            var(--g-color-master),
            var(--g-color-slave));

    --g-transition: linear .2s;
    --g-border-width: .2em;
    --g-border-radius: 0.25em;

    --g-body-background-color: var(--g-color-mode);
    --g-body-background: var(--g-color-wild);
    --g-body-text-color: var(--g-color-mode-inverse);

    --g-foreground: var(--g-color-mode);
    --g-foreground-contrast: var(--g-color-mode-inverse);
    --g-foreground-opacity: .85;

    --g-filled-foreground: var(--g-color-wild);
    --g-filled-foreground-contrast: var(--g-color-light);
    --g-filled-foreground-opacity: .85;
    
    --g-background: var(--g-color-wild);
    --g-background-contrast: var(--g-color-light);
    --g-background-opacity: .85;

    --g-glow-blur: 1rem;
    --g-glow-opacity: .75;
    --g-glow-opacity-mul: 1;
    --g-glow-color: var(--g-color-wild);
}

.g-theme-light-mode {
    --g-color-mode: var(--g-color-light);
    --g-color-mode-inverse: var(--g-color-dark);
}

.g-theme-master {
    --g-background: var(--g-color-master);
    --g-filled-foreground: var(--g-color-master);
    --g-glow-color: var(--g-color-master);
}

.g-theme-slave {
    --g-background: var(--g-color-slave);
    --g-filled-foreground: var(--g-color-slave);
    --g-glow-color: var(--g-color-slave);
}

.g-theme-mono {
    --g-foreground: var(--g-color-mode-inverse);
    --g-foreground-contrast: var(--g-color-mode);

    --g-filled-foreground: var(--g-color-mode-inverse);
    --g-filled-foreground-contrast: var(--g-color-mode);

    --g-border-width: 0;
    --g-background: transparent;
    --g-background-contrast: transparent;
    --g-glow-color: var(--g-color-dark);
}

.g-theme-mono-inverse {
    --g-foreground: var(--g-color-mode);
    --g-foreground-contrast: var(--g-color-mode-inverse);

    --g-filled-foreground: var(--g-color-mode);
    --g-filled-foreground-contrast: var(--g-color-mode-inverse);

    --g-border-width: 0;
    --g-background: transparent;
    --g-background-contrast: transparent;
    --g-glow-color: var(--g-color-mode);
}

.g-theme-no-glow {
    --g-glow-opacity: 0 !important;
}

body {
    color: var(--g-body-text-color);
    background-color: var(--g-body-background-color);
    transition: var(--g-transition);
    transition-property: color, background-color;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: var(--g-body-background);
    z-index: -1;
    filter: blur(5rem) opacity(0.3);
}

body {
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: .2ch;
}

::-webkit-scrollbar {
    display: block;
    width: .25em;
}

::-webkit-scrollbar-track {
    background: var(--g-foreground);
}

::-webkit-scrollbar-thumb {
    background: var(--g-master);
    border-radius: 1em;
}

h1,
h2,
p {
    font-weight: 400;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: underline;
    cursor: pointer;
}