/* Values */
:root {
    font-size: max(1rem, min(1vw, 2vh));
    font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;

    --g-transition: linear .2s;
    --g-border-width: .2em;
    --g-border-radius: 0.25em;

    --g-color-master: #F97794;
    --g-color-slave: #623AA2;
    --g-color-dark: rgba(39, 42, 49);
    --g-color-light: rgb(235, 237, 241);
    --g-color-wild: linear-gradient(120deg,
            var(--g-color-master),
            var(--g-color-slave));
}

.g-color-mode-light {
    --g-color-mode: var(--g-color-light);
    --g-color-mode-inverse: var(--g-color-dark);
}

.g-color-mode-dark {
    --g-color-mode: var(--g-color-dark);
    --g-color-mode-inverse: var(--g-color-light);
}

.g-theme-wild {
    --g-current-color: var(--g-color-light);
    --g-current-background: var(--g-color-wild);
    --g-current-child-color: var(--g-color-wild);
    --g-current-child-background: var(--g-color-mode);
}

.g-theme-master {
    --g-current-color: var(--g-color-light);
    --g-current-background: var(--g-color-master);
    --g-current-child-color: var(--g-color-master);
    --g-current-child-background: var(--g-color-light);
}

.g-theme-slave {
    --g-current-color: var(--g-color-light);
    --g-current-background: var(--g-color-slave);
    --g-current-child-color: var(--g-color-slave);
    --g-current-child-background: var(--g-color-light);
}

.g-theme-mono {
    --g-current-color: var(--g-color-mode-inverse);
    --g-current-background: var(--g-color-mode);
    --g-current-child-color: var(--g-color-mode);
    --g-current-child-background: var(--g-color-mode-inverse);
}

/* Defaults */
body {
    padding: 0;
    margin: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
    line-height: 1.5;
    letter-spacing: .2ch;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

/* Components */

.g-sheet {
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--g-foreground-contrast);
    isolation: isolate;
}

.g-sheet::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--g-foreground);
    opacity: var(--g-foreground-opacity);
    z-index: -1;
}


.g-box {
    position: relative;
    padding: var(--g-border-width);
    color: var(--g-background-contrast);
}

.g-box::before,
.g-box::after,
.g-box > .g-sheet::before,
.g-box > .g-sheet::after {
    border-radius: var(--g-border-radius);
}

.g-box::before,
.g-box::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

.g-box:not(.g-box__no-background)::after {
    background: var(--g-background);
    opacity: var(--g-background-opacity);
}

.g-box:not(.g-box__no-glow):before {
    background: var(--g-glow-color);
    filter: blur(var(--g-glow-blur)) opacity(calc(var(--g-glow-opacity) * var(--g-glow-opacity-mul)));
}