.g-color-mode-light {
    --g-color-mode: var(--g-color-light);
    --g-color-mode-inverse: var(--g-color-dark);
}

.g-color-mode-dark {
    --g-color-mode: var(--g-color-dark);
    --g-color-mode-inverse: var(--g-color-light);
}

.g-theme-wild {
    --g-current-color: var(--g-color-light);
    --g-current-background: var(--g-color-wild);
    --g-current-border-color: var(--g-color-wild);
    --g-current-glow-color: var(--g-color-wild);

    --g-current-child-color: var(--g-color-mode-inverse);
    --g-current-child-background: var(--g-color-mode);
    --g-current-child-border-color: var(--g-color-mode);
}

.g-theme-master {
    --g-current-color: var(--g-color-mode-inverse);
    --g-current-background: var(--g-color-mode);
    --g-current-border-color: var(--g-color-master);
    --g-current-glow-color: var(--g-color-master);

    --g-current-child-color: var(--g-color-mode-inverse);
    --g-current-child-background: var(--g-color-mode);
    --g-current-child-border-color: var(--g-color-mode);
}

.g-theme-master {
    --g-current-color: var(--g-color-light);
    --g-current-background: var(--g-color-master);
    --g-current-border-color: var(--g-color-master);
    --g-current-glow-color: var(--g-color-master);

    --g-current-child-color: var(--g-color-mode-inverse);
    --g-current-child-background: var(--g-color-mode);
    --g-current-child-border-color: var(--g-color-mode);
}

.g-theme-slave {
    --g-current-color: var(--g-color-light);
    --g-current-background: var(--g-color-slave);
    --g-current-border-color: var(--g-color-slave);
    --g-current-glow-color: var(--g-color-slave);

    --g-current-child-color: var(--g-color-mode-inverse);
    --g-current-child-background: var(--g-color-mode);
    --g-current-child-border-color: var(--g-color-mode);
}

.g-theme-mono {
    --g-current-color: var(--g-color-mode-inverse);
    --g-current-background: var(--g-color-mode);
    --g-current-border-color: var(--g-color-mode);
    --g-current-glow-color: var(--g-color-mode);

    --g-current-child-color: var(--g-color-mode);
    --g-current-child-background: var(--g-color-mode-inverse);
    --g-current-child-border-color: var(--g-color-mode-inverse);
    --g-current-child-glow-color: var(--g-color-dark);
}

/* Defaults */
body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    letter-spacing: .2em;
}

*, *::after, *::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}